{% extends "base.html" %} {% block content %}
<div class="container mt-5 mb-5">
    <h3 class=" mb-3 "> Venez rèserver pour vaccances chez Luxe Agence, la meilleur agennce</h3>
    <div class="row ">
        <div class="col-lg-4 ">
            <div class="card shadow " style="width: 18rem; ">
                <img src="https://th.bing.com/th/id/R.03370c9731cfdc3042e923f24d7dce38?rik=mnaP6jQ4aSNfHw&riu=http%3a%2f%2ftop10hotelbookingsites.webs.com%2fbesthotelsites-1.jpg&ehk=lBnk8g10zPJ3e%2b07lL0Cd2ac5vTac5y0qOMFAqBN26I%3d&risl=&pid=ImgRaw&r=0
    " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Hotel de l'amitiè</h5>
                    <p class="card-text ">L'Amitie Hotel,un hôtel 5 étoiles avec 158 chambres et 31 suites exécutives, dont 2 piscines et un court de tennis Les chambres de l'Hôtel l'Amitié Bamako disposent d'une télévision à écran plat et d'un balcon avec vue sur la ville.</p>
                    <a href="# " class="btn btn-warning">Visitez</a>
                    <a href="# " class="btn btn-success ">Rèservez</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="card shadow " style="width: 18rem; ">
                <img src="https://th.bing.com/th/id/R.f99c75526972d735021970f263c0945b?rik=qqE%2bsqILh19%2beA&pid=ImgRaw&r=0 " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Les Caraïbes</h5>
                    <p class="card-text "> Les Caraïbes sont une région des Amériques qui comprend la mer des Caraïbes, ses îles (certaines entourées par la mer des Caraïbes et d'autres bordant à la fois cette dernière et l'océan Atlantique Nord) et les côtes environnantes.
                    </p>
                    <a href="# " class="btn btn-warning">Visitez</a>
                    <a href="# " class="btn btn-success ">Rèservez</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 ">
            <div class="card shadow " style="width: 18rem; ">
                <img src="https://th.bing.com/th/id/R.03370c9731cfdc3042e923f24d7dce38?rik=mnaP6jQ4aSNfHw&riu=http%3a%2f%2ftop10hotelbookingsites.webs.com%2fbesthotelsites-1.jpg&ehk=lBnk8g10zPJ3e%2b07lL0Cd2ac5vTac5y0qOMFAqBN26I%3d&risl=&pid=ImgRaw&r=0
    " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Les iles</h5>
                    <p class="card-text ">Au cœur de la Cité Nocturne du Puy du Fou et dans un écrin de nature préservée, venez profiter du calme et de la tranquillité de ce village lacustre du 1er millénaireChaque hutte abrite deux chambre.</p>
                    <a href="# " class="btn btn-warning">Visitez</a>
                    <a href="# " class="btn btn-success ">Rèservez</a>
                </div>
            </div>
        </div>
    </div>




</div>
{% endblock %}